   <head>
      <link rel="stylesheet" href="./style.css" type="text/css" />
    </head>
<div class="container">
                <div class="row">
                    {{#each notes}}
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-8" id="note">
                    <h3><a href="/api/articles/{{data._id}}"></h3>
                    <a href= {{data.link}} target="_blank">Read article</a>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    {{/each}}
                </div>
            </div>