body {
	background-color: #fff;
}

.container-fluid {
	background-image: url("./images/newspaper.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.navbar {
	opacity: .8;
}

#navtitle {
	font-family: 'Special Elite', courier, cursive;
	font-size: 210%;
	margin: 10px 0 0 0;
}

.articles {
	margin-top: 10%;
	background-color: #fff;
	opacity: .9;

}

p {
	text-align: right;
}

h4 {
	margin: 15px 0 -15px 0;
	font-family: 'courier', sans-serif;
}

a {
	color: grey;
	font-family: 'Nunito Sans', sans-serif;
	margin-bottom: 25px;
	margin-top: -15px;
}

a:hover {
	color: #f8f8f8;
}